ion-content{
  --ion-background-color: var(--ion-color-dark);
}
.bg-img {
  height: 100%;
  width: 100%;
  background-color:#222428;


     }
     .img-header {
      display: flex;
      justify-content: center;
    }
.img-header img{
  height: 200px;
}
.textnews{color: red;}
