<ion-header >
  <ion-toolbar color="netflix-dark">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>
 <ion-content>

<div class="bg-img">

  <div class="ion-padding">
     <div class="img-header">
       <img src="../../assets/img/9a8dbbd458ded671a866b715aabcd774.jpg">
     <div class="textnews">
     comming soon ! new anime by TVtokyo ....
  </div>
  </div>

</div>
<div class="ion-padding">
  <div class="img-header">
    <img src="../../assets/img/poster-Black-Clover-5f07495b17560.png">
  <div class="textnews">
  New Season of black clover on 15/8/2022 be ready for it ...
</div>
</div>

</div>
<div class="ion-padding">
  <div class="img-header">
    <img src="../../assets/img/nanatsu.jpg">
  <div class="textnews">
    After the Holy Knights take over the Kingdom of Liones and imprison her father and sisters, Princess Elizabeth seeks the help of the most infamous group of Holy Knights, the Seven Deadly Sins, who supossedly tried to overthrow the Kingdom ten years ago and became wanted criminals who are still being hunted down to this day. Finding these supposed villains is a far from easy task
</div>
</div>

</div>
<div class="ion-padding">
  <div class="img-header">
    <img src="../../assets/img/9a8dbbd458ded671a866b715aabcd774.jpg">
  <div class="textnews">
  comming soon ! new anime by TVtokyo ....
</div>
</div>

</div>
</div>

</ion-content>

