<ion-header>
  <ion-toolbar color="netflix-dark">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
 <img src="../../assets/img/images.jpg" width="100%" height="150px">

 <ion-button  (click)="openAnime()" expand="full" color="medium" >watch now!</ion-button>

 <p class="box-title">My list</p>
 <div class="scroll-box">
   <div class="anime">
     <img src="../../assets/img/752730-photo-u42.jpg">
   </div>
   <div class="anime">
    <img src="../../assets/img/81o1sJ4FqbL._RI_.jpg">
  </div>
  <div class="anime">
    <img src="../../assets/img/black.jpg">
  </div>
  <div class="anime">
    <img src="../../assets/img/download.jpg">
  </div>
  <div class="anime">
    <img src="../../assets/img/images.jpg">
  </div>
  <div class="anime">
    <img src="../../assets/img/jpg.jpg">
  </div>
  <div  class="anime">
    <img src="../../assets/img/nanatsu.jpg">
  </div>
</div>
  <p class="box-title">For you</p>
  <div class="scroll-box">
    <div class="anime">
      <img src="../../assets/img/SentaiNews-Princess-Principal-Crown-Handler-870x520.jpg">
    </div>
    <div class="anime">
     <img src="../../assets/img/anime.one_.piece_.online.season.1_B.jpg">
   </div>
   <div class="anime">
     <img src="../../assets/img/nanatsu.jpg">
   </div>
   <div class="anime">
     <img src="../../assets/img/download.jpg">
   </div>
   <div class="anime">
     <img src="../../assets/img/jpg.jpg">
   </div>
   <div class="anime">
     <img src="../../assets/img/poster-Black-Clover-5f07495b17560.png">
   </div>
   <div  class="anime">
     <img src="../../assets/img/752730-photo-u42.jpg">
   </div>
</div>
<p class="box-title">Most watching</p>
<div class="scroll-box">
  <div class="anime">
    <img src="../../assets/img/download.jpg">
  </div>
  <div class="anime">
   <img src="../../assets/img/anime.one_.piece_.online.season.1_B.jpg">
 </div>
 <div class="anime">
   <img src="../../assets/img/85fda5838-1.jpg">
 </div>
 <div class="anime">
   <img src="../../assets/img/anime.hunter.x.hunter.online.season.1-230x343.jpg">
 </div>
 <div class="anime">
   <img src="../../assets/img/jpg.jpg">
 </div>
 <div class="anime">
   <img src="../../assets/img/poster-Black-Clover-5f07495b17560.png">
 </div>
 <div  class="anime">
   <img src="../../assets/img/752730-photo-u42.jpg">
 </div>
</div>

</ion-content>

